.wrapper {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  border-radius: var(--mantine-radius-md);
  border: light-dark(
    calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-2),
    calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-6)
  );
}

.header {
  border-bottom: light-dark(
    calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-2),
    calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4)
  );
}

.preview {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
}

.roundbottom {
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
}

.filelist {
  display: flex;
}

.code {
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}

.list::before {
  display: none;
}

.tab {
  position: relative;
  font-weight: bold;
  font-size: var(--mantine-font-size-xs);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  border-width: 0 rem(1px) rem(1px) 0;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-9)
  );
  border-radius: 0;

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-6)
    );
    border-radius: 0;
  }

  &:last-of-type {
    border-radius: 0 0 rem(4px) 0;
  }
}
